@import '../../../sass/utilities/_mixins.sass'

.step
  display: flex
  list-style: none

  a 
    text-decoration: none

.step-item
  width: 13rem
  height: 3rem
  margin-bottom: 2rem

.step-item, .step-icon
  @include flexbox(row, center, center)

.step-icon
  width: 2.5rem
  height: 2.5rem
  border-radius: 2.1rem
  border: 0.01rem solid var(--white)

  p
    @include text-style(--white, 1.2rem, 700, uppercase)

.step-title
  width: 8rem
  margin: 0 auto

.step-description
  @include text-style(--white, 1rem, 700, uppercase)
  letter-spacing: 1px

.step-name
  @include text-style(--light-gray, 0.875rem, 400, uppercase)

.step-name, .step-description
  margin: 0.475rem 0

.active
  background-color: var(--light-blue)
  border: none

  p
    color: var(--marine-blue)

@media (max-width: 400px)

  .step-title
    display: none

  .step-item
    width: 4rem
    height: 3rem
    margin-bottom: 0