<section class="form-wrapper">
  <header class="form-header">
    <h1>Select your plan</h1>
    <p>You have the option of monthly or yealy billing.</p>
  </header>
  <form class="form-plans-area" [formGroup]="selectedPlan">
    <div class="form-plans">
      <app-plan
        *ngFor="let plan of plans"
        [plan]="plan"
        [control]="optionForm"
        [isYearlyBilling]="selectedPlan.value.isYearlyBilling"
      ></app-plan>
    </div>
    <div class="form-toggle-wrapper">
      <label
        for="form-billing"
        class="label-billing"
        [ngClass]="selectedBillingStyle('monthly')"
        >Monthly</label
      >
      <label for="form-billing" class="form-toggle">
        <input
          id="form-billing"
          type="checkbox"
          formControlName="isYearlyBilling"
        />
        <span class="slider round"></span>
      </label>
      <label
        for="form-billing"
        class="label-billing"
        [ngClass]="selectedBillingStyle('yearly')"
        >Yearly</label
      >
    </div>
  </form>
  <footer class="form-footer">
    <button
      class="form-back-button"
      (click)="this.navigation.navigateTo(this.router, 'personal-info')"
    >
      Go Back
    </button>
    <button
      class="form-next-button"
      (click)="this.navigation.navigateTo(this.router, 'pick-add-ons')"
    >
      Next Step
    </button>
  </footer>
</section>
