@import './_mixins.sass'
@import './_extends.sass'

.form-wrapper
  @include flexbox(column, flex-start, space-between)
  height: 100%

.form-header

  h1
    @include text-style(--marine-blue, 2rem, 700, none)
    margin-bottom: 1rem

  p
    @include text-style(--cool-gray, 1rem, 400, none)

.form-footer
  @include flexbox(row, center, space-between)
  width: 100%

.form-next-button
  @extend %form-button
  @include text-style(--white, 1rem, 400, none)
  background-color: var(--marine-blue)
  margin-left: auto

.form-back-button
  @extend %form-button
  @include text-style(--cool-gray, 1rem, 700, none)
  background-color: transparent
  padding: 0
