@import './_mixins.sass'
@import './_extends.sass'

.main-wrapper
  background-color: var(--white)
  @include flexbox(row, center, center)
  border-radius: 15px
  padding: 1rem

.form-wrapper
  @include flexbox(column, flex-start, space-between)
  height: 100%

.form-header

  h1
    @include text-style(--marine-blue, 2rem, 700, none)
    margin-bottom: 1rem

  p
    @include text-style(--cool-gray, 1rem, 400, none)

.selected-option
  @extend %selected-option
  background-color: var(--magnolia)

.form-footer-wrapper, .footer-container
  width: 100%

.footer-container
  margin: auto 0 0 auto

@media (max-width: 400px)

  .main-wrapper
    width: 100vw
    height: 100vh
    min-height: 100%
    box-sizing: border-box
    overflow-x: hidden
    overflow-y: scroll
    @include flexbox(column, center, space-between)
    background-color: var(--light-blue)
    padding: 0
    border-radius: 0

  .form-header

    h1
      margin: 1rem 0 0 0

  .form-footer-wrapper
    margin: 1rem 0