@mixin flexbox($direction, $align, $justify)
  display: flex
  flex-direction: $direction
  align-items: $align
  justify-content: $justify

  
@mixin sidebar-text($color, $size, $weight)
  color: var($color)
  font-size: $size
  font-weight: $weight
  text-transform: uppercase