@import '../../sass/utilities/_mixins.sass'

.sidebar
  width: 17rem
  height: 35rem
  @include flexbox(column, center, flex-start)
  border-radius: 15px
  background-image: url('../../../assets/images/bg-sidebar-desktop.svg')

.step-ul
  padding: 0
  margin-top: 2rem

@media (max-width: 400px)

  .sidebar
    border-radius: 0
    background-repeat: no-repeat
    background-image: url('../../../assets/images/bg-sidebar-mobile.svg')
    background-size: 100%
    width: 100vw
    height: 180px
    padding: 10px

  .step-ul
    @include flexbox(row, center, center)
    margin-top: 1rem
