@import '../sass/utilities/_mixins.sass'

main
  background-color: var(--white)
  @include flexbox(row, center, center)
  border-radius: 15px
  padding: 1rem

form
  padding: 1rem 5rem
  height: 35rem
  width: 38rem
