<section>
  <h1>Personal Info</h1>
  <h2>Please provide your name, email address, and phone number.</h2>
  <form>
    <div>
      <label for="name">Name</label>
      <input id="name" name="name" type="text" />
    </div>
    <div>
      <label for="email">Email Address</label>
      <input id="email" name="email" type="email" />
    </div>
    <div>
      <label for="phone-number">Phone Number</label>
      <input id="phone-number" name="phone-number" type="number" />
    </div>
    <div>
      <button>Next Step</button>
    </div>
  </form>
</section>
