<section class="form-wrapper">
  <header class="form-header">
    <h1>Pick add-ons</h1>
    <p>Add-ons help enhance your gaming experience.</p>
  </header>
  <div class="form-add-ons" [formGroup]="selectedAddOns">
    <app-add-on-checkbox
      *ngFor="let addOn of optionsForm.controls; let i = index"
      [addOn]="addOnsList[i]"
      [control]="getOptionControl(i)"
    ></app-add-on-checkbox>
  </div>
  <div class="form-footer-wrapper">
    <app-nav-footer
      class="footer-container"
      previousRoute="select-plan"
      nextRoute="finishing-up"
    ></app-nav-footer>
  </div>
</section>
