<section class="form-wrapper">
  <header class="form-header">
    <h1>Finishing up</h1>
    <p>Double-check everything looks OK before confirming.</p>
  </header>
  <div class="form-summary-area">
    <div class="form-summary">
      <div class="form-summary-plan">
        <div>
          <p *ngIf="changeBilling(); else elseBillingBlock" class="plan-title">
            {{ form.selectedPlan.planOption.title }} (Yearly)
          </p>
          <ng-template #elseBillingBlock>
            <p class="plan-title">
              {{ form.selectedPlan.planOption.title }} (Monthly)
            </p>
          </ng-template>
          <button
            (click)="this.navigation.navigateTo(this.router, 'thank-you')"
          >
            Change
          </button>
        </div>
        <div>
          <p class="plan-value" *ngIf="changeBilling(); else elseValueBlock">
            ${{ form.selectedPlan.planOption.yearlyValue }}/yr
          </p>
        </div>
        <ng-template #elseValueBlock>
          <p class="plan-value">
            ${{ form.selectedPlan.planOption.monthlyValue }}/mo
          </p>
        </ng-template>
      </div>
      <hr />
      <div
        class="form-summary-detail"
        *ngFor="let addOn of form.selectedAddOns"
      >
        <p>{{ addOn.title }}</p>
        <div>
          <p
            class="detail-value"
            *ngIf="changeBilling(); else elseAddOnValueBlock"
          >
            +${{ addOn.yearlyValue }}/yr
          </p>
        </div>
        <ng-template #elseAddOnValueBlock>
          <p class="detail-value">+${{ addOn.monthlyValue }}/mo</p>
        </ng-template>
      </div>
    </div>
    <div>
      <div class="form-total" *ngIf="changeBilling(); else elseTotalValueBlock">
        <p>Total (per year)</p>
        <p class="total-value">+{{ sumTotalValue() }}$/yr</p>
      </div>
      <ng-template class="form-total" #elseTotalValueBlock>
        <div class="form-total">
          <p>Total (per month)</p>
          <p class="total-value">+{{ sumTotalValue() }}$/mo</p>
        </div>
      </ng-template>
    </div>
  </div>
  <footer class="form-footer">
    <button
      class="form-back-button"
      (click)="this.navigation.navigateTo(this.router, 'pick-add-ons')"
    >
      Go Back
    </button>
    <button class="form-confirm-button" (click)="submitForm()">Confirm</button>
  </footer>
</section>
