<section class="form-wrapper">
  <header class="form-header">
    <h1>Finishing up</h1>
    <p>Double-check everything looks OK before confirming.</p>
  </header>
  <div class="form-summary-area">
    <div class="form-summary">
      <div class="form-summary-plan">
        <div>
          <p class="plan-title">Arcade (Monthly)</p>
          <button>Change</button>
        </div>
        <p class="plan-value">$9/mo</p>
      </div>
      <hr>
      <div class="form-summary-detail">
        <p>Online service</p>
        <p class="detail-value">+$1/mo</p>
      </div>
      <div class="form-summary-detail">
        <p>Larger storage</p>
        <p class="detail-value">+$2/mo</p>
      </div>
    </div>
    <div class="form-total">
      <p>Total (per month)</p>
      <p class="total-value">+12$/mo</p>
    </div>
  </div>
  <footer class="form-footer">
    <button class="form-back-button">Go Back</button>
    <button class="form-confirm-button">Confirm</button>
  </footer>
</section>
